In [36]:
import string
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from nltk.stem import WordNetLemmatizer
from nltk import sent_tokenize
from nltk.corpus import stopwords

lemmatizer = WordNetLemmatizer()
stop_words = set(stopwords.words('english') + [word.strip("\n") for word in open("remove_words.txt", "r")])

In [25]:
!dir

 Volume in drive C has no label.
 Volume Serial Number is 2087-A02D

 Directory of C:\Users\Administrator\Desktop\Document-Similarity

11/30/2022  02:57 PM    <DIR>          .
11/10/2022  02:45 PM    <DIR>          ..
11/30/2022  02:18 PM    <DIR>          .ipynb_checkpoints
11/16/2022  03:10 PM           391,697 all_articles.csv
11/21/2022  10:50 AM    <DIR>          archive
11/22/2022  10:49 AM            19,471 base_matrix.png
11/29/2022  11:25 AM             5,967 bert_similarity.py
11/30/2022  02:57 PM            29,136 Classifier.ipynb
11/30/2022  11:44 AM             1,610 cosine_similarity_test.py
11/16/2022  04:19 PM    <DIR>          doc2vec
11/22/2022  10:00 AM             7,241 doc2vec_similarity.py
11/22/2022  10:36 AM           435,172 doc2vec_tokenized_articles.csv
11/23/2022  10:30 AM             4,124 evaluate_model.py
11/21/2022  10:50 AM    <DIR>          experiments
11/29/2022  02:38 PM             8,458 extract_bert_embeddings.py
11/30/2022  12:17 PM            10,478 extract_bert_embeddings_test.py
11/07/2022  11:14 AM    <DIR>          factiva_articles
11/07/2022  11:14 AM           165,938 Fin_Wellbeing_subsample.xlsx
11/30/2022  12:18 PM             1,031 irrelevant_test.csv
11/30/2022  12:17 PM           145,285 irrelevant_words_count.csv
11/30/2022  02:30 PM             6,740 jaccard_similarity.py
11/30/2022  12:00 PM            19,749 Load relevant df.ipynb
11/21/2022  01:22 PM             3,282 matrix_test.py
11/29/2022  11:25 AM            76,131 output.csv
11/16/2022  03:10 PM             7,869 preprocess_factiva_articles.py
11/29/2022  03:07 PM             9,814 Relevant word df test.ipynb
11/30/2022  12:18 PM             1,048 relevant_test.csv
11/30/2022  12:17 PM           146,418 relevant_words_count.csv
11/29/2022  11:25 AM               149 remove_test.py
11/29/2022  11:25 AM               121 remove_words.txt
11/07/2022  11:14 AM    <DIR>          reqs
11/07/2022  11:14 AM                13 requirements.txt
11/29/2022  11:25 AM    <DIR>          results
11/21/2022  03:35 PM             5,382 tf_idf_similarity.py
11/16/2022  03:29 PM    <DIR>          use
11/21/2022  03:59 PM             5,631 use_similarity.py
11/07/2022  12:52 PM    <DIR>          wmd
11/22/2022  10:41 AM             5,466 wmd_similarity.py
11/08/2022  11:43 AM    <DIR>          __pycache__
              27 File(s)      1,513,421 bytes
              12 Dir(s)  19,248,582,656 bytes free

In [26]:
articles_df = pd.read_csv('all_articles.csv', usecols = ['article_title','text','relevant_campbell','relevant_kristen','mismatch'])

In [27]:
articles_df

,article_title,text,relevant_campbell,relevant_kristen,mismatch
0,Intervention was the right thing to do,News Intervention was the right thing to do FI...,0,0,0
1,SIX STATES FILE A CHALLENGE TO THE BIDEN ADMIN...,SIX STATES FILE A CHALLENGE TO THE BIDEN ADMIN...,0,0,0
2,Senator Reverend Warnock Introduces Bill to En...,Senator Reverend Warnock Introduces Bill to En...,1,0,1
3,10 Markets Where Sellers Are Cutting Home Pric...,Daily 10 Markets Where Sellers Are Cutting Hom...,1,1,0
4,"Biden touts Inflation Reduction Act, critics s...","Biden touts Inflation Reduction Act, critics s...",0,1,1
...,...,...,...,...,...
122,Jobs & Money - Women stand to get a better deal.,Jobs & Money - Women stand to get a better dea...,1,1,0
123,Pension off AVC rules; The Last Word,Pension off AVC rules; The Last Word THE G...,0,1,1
124,"Gold Stocks Favoured As Telecom, Bank Shares Fall",Business; Money Market And Share Market Gold S...,0,0,0
125,Wall of silence over 'flexible' Abbey fund,Wall of silence over 'flexible' Abbey fund ...,0,1,1
126,Million-dollar Partners,"Money Million-dollar Partners ""You do need the...",1,1,0

In [28]:
relevant_df = pd.read_csv("relevant_test.csv", usecols = ['word','frequency','frequency_scaled','relevancy_score','weighted_score'])
relevant_df

          word  frequency  frequency_scaled  relevancy_score  weighted_score
0   retirement        131          0.828025         8.557992        7.086235
1     mortgage        112          0.707006         8.136207        5.752350
2          pay         90          0.566879        10.098199        5.724457
3       income         69          0.433121         9.648579        4.179002
4     interest         59          0.369427         9.810026        3.624086
5         home         65          0.407643         8.745063        3.564867
6       worker         61          0.382166         9.214806        3.521582
7       credit         57          0.356688         9.350683        3.335275
8         need         56          0.350318         8.943111        3.132937
9         cost         50          0.312102         9.946045        3.104180
10      health         58          0.363057         8.187636        2.972581
11        help         48          0.299363         9.660758        2.892074
12        many         47          0.292994         8.625884        2.527329
13       month         54          0.337580         7.332358        2.475255

In [29]:
irrelevant_df = pd.read_csv("irrelevant_test.csv",  usecols = ['word','frequency','frequency_scaled','relevancy_score','weighted_score'])
irrelevant_df

        word  frequency  frequency_scaled  relevancy_score  weighted_score
0       fund         94          0.978947        10.782338       10.555342
1    million         75          0.778947         8.913129        6.942859
2     market         70          0.726316         9.293736        6.750187
3      price         62          0.642105        10.332009        6.634238
4       deal         60          0.621053        10.136530        6.295318
5    company         53          0.547368        10.641443        5.824790
6       bank         58          0.600000         9.325776        5.595466
7       bond         52          0.536842        10.136220        5.441549
8   customer         48          0.494737         8.968694        4.437143
9       sale         38          0.389474        10.708981        4.170866
10     share         34          0.347368        10.627388        3.691619
11     group         35          0.357895        10.088351        3.610568
12    estate         32          0.326316         9.755097        3.183242
13  investor         32          0.326316         9.186625        2.997741

In [57]:
articles_df['predicted'] = np.ones(len(articles_df))
all_articles_relevancy = {}
for index, row in articles_df.iterrows():
    
    #if index == 0:
    all_articles_relevancy[row['article_title']] = 0
    sentences = sent_tokenize(row['text'])

    for sentence in sentences:
        words_in_sentence = list(sentence.split(" "))
        for word_ in words_in_sentence:

            word_ = word_.lower()
            word_ = word_.strip()
            word_ = word_.replace(" ", "")
            word_ = word_.replace(",", "")
            word_ = word_.replace(".", "")
            word_ = word_.replace(":", "")
            word_ = word_.replace("/", "")
            word_ = word_.replace("-", "")
            word_ = word_.replace("(", "")
            word_ = word_.replace(")", "")

            if lemmatizer.lemmatize(word_) != 'ha' and lemmatizer.lemmatize(word_) != 'wa':
                word_ = lemmatizer.lemmatize(word_)

            if word_ not in stop_words and word_ not in string.punctuation:

                if word_ in list(relevant_df['word']):
                    #print("RELEVANT WORD")
                    #print(word_)
                    all_articles_relevancy[row['article_title']] += float(relevant_df[relevant_df['word'] == word_]['weighted_score'])
                    #print(all_articles_relevancy['article_title'])

                if word_ in list(irrelevant_df['word']):
                    #print("IRRELEVANT WORD")
                    #print(word_)
                    all_articles_relevancy[row['article_title']] -= float(irrelevant_df[irrelevant_df['word'] == word_]['weighted_score'])
                    #print(all_articles_relevancy['article_title'])

In [58]:
all_articles_relevancy

{'Intervention was the right thing to do': -222.16368918680848,
 "SIX STATES FILE A CHALLENGE TO THE BIDEN ADMINISTRATION'S STUDENT LOAN CANCELLATION PROGRAM": 14.78439795542315,
 'Senator Reverend Warnock Introduces Bill to Ensure Georgia Car Buyers, Automakers Fully Benefit from Cost-Cutting Tax Credits': 1.8489220677047964,
 '10 Markets Where Sellers Are Cutting Home Prices the Most': -119.33902674346534,
 'Biden touts Inflation Reduction Act, critics say student loan cancellation offsets gains': 1.5850149797426187,
 'ULTIMUTT DEAL Aldi’s new £40 Specialbuy item is perfect for dog owners': -26.726436047407347,
 "Students react to Biden's student debt relief plan": 30.366365226101166,
 "A GOP attorney general says people are 'celebrating prematurely' Biden's student-loan forgiveness, suggesting lawsuits are to come": -9.206033511538255,
 'Energy deal ban: Ofgem green lights major change for Brits - ‘More resilient and fair’': -163.40073085158926,
 'Couple who bought B&Q plant for just £12 discover its leaves are worth £170 each': -1.304206203736996,
 'Drivers face £35bn tax bill to plug the gap as switch to electric cars hits revenue': 11.386981309113635,
 'Sultan ‘partner’ joins will battle': -6.366484534113031,
 'Press Release: California American Water Seeks Bill Relief for Customers Financially affected by COVID Pandemic': -70.8327365209143,
 'Tesco Bank to pay thousands of car insurance customers refunds after wide-spread policy error': -126.27632514046337,
 'Hickenlooper Cheers Record 200,000 Coloradans Enrolled for Health Insurance with Connect for Health; Sen. John W. Hickenlooper (D-CO) News Release': 55.174175768477234,
 'Boots announces big changes to Advantage Card club -and it means more discounts': -107.2407558649249,
 'Martin Lewis fan explains how he saved £400 after Virgin confirmed price hikes': -124.49353952867409,
 'Drivers at risk of £2,500 fine and three points for wiper blade error -how to check': -1.0832386156675842,
 'How higher taxes on the rich could affect your investment goals and home prices surge 12% in February, the biggest jump since 2006': 4.83952199113757,
 'ANOTHER ROUND Sainsbury’s is offering 25% off 6 bottles of prosecco, champagne and wine for bank holiday weekend': -60.249888473491374,
 'What happens when worker benefits are cut? Some suggest that workers offset benefit loss with more saving elsewhere; Evidence from state and...': 80.04133529647899,
 'SCAM ALERT: LOAN REPAYMENT COMPANIES SCAMMING STUDENTS, CHARGING THEM FOR SERVICES AVAILABLE FOR FREE': -15.445588345924058,
 'State Pension age changes could affect when you will be able to retire - check yours now': 4.255629537371716,
 'Biden Administration continues postponement of student loan debt payments for graduates': 44.048428623349814,
 'SWBC Approves Stadion Managed Account': 92.05545598456736,
 'Historic level of funding available to help clinicians pay off student loan': 39.99173782093791,
 "Chancellor announces 50% 'Eat Out to Help Out' discount for pub and restaurant meals during August": 1.8941588043107607,
 'SAUCY SALES Lovehoney slashes 50% off sex toys for next two weeks as part of summer sale – here’s what to buy': -50.04404489859374,
 'Workers facing a lifetime of playing pension catch-up': 68.65664154675795,
 'MENENDEZ WARNS OF IMPENDING EVICTION, FORECLOSURE CRISIS DUE TO COVID-19 PANDEMIC': 11.769061602556667,
 'State Pension: Can I retire at 60 and claim State Pension?': 36.99132397106499,
 'Sunwing offers long-awaited deals with significant savings on vacations at RIU Hotels & Resorts': -47.71213537713364,
 'What cinemas will look like after lockdown -with special areas for social bubbles': -29.832748782474873,
 'Anthropologie sale items are at a huge discount for Memorial Day—but not for long': -44.64505158824646,
 'Realtors demand looser mortgage rules; Also call on federal candidates to boost first-time buyers credit': 29.41420168892433,
 'Sharia bank Al Rayan launches a 1.6% easy access account less than a week after Marcus disappointed savers': -58.37994690537252,
 'Schiff Hardin Expands Estate Planning Practice With Ex-UBS Wealth Strategist': -22.72392319746558,
 'Waters Opening Statement at Hearing on Student Loan Debt Crisis; House Financial Services Committee News Release': 20.215879921480752,
 'New "Retire4Real" Online Game Will Help Teens Understand the Importance of Investing for Retirement': 138.99302267410042,
 "Landlords charge 'pet rent' to recoup losses after ban on unfair fees": 19.076415184594786,
 'Advice fees vary by 1,000 per cent': 38.14384556643084,
 'Super Saturday set to see £1.65billion blown on the high street before Christmas': -56.06833778073074,
 'BlackRock and Microsoft want to make retirement investing as easy as ordering an Uber': 48.50787389894042,
 'Canada pension fund investment into US detention firm larger than reported': -126.14622370672433,
 'Will Congress Update the Higher Education Act?(STATESTATS)': -12.85590197387814,
 "Can't afford kale and coconut water? Dietitian reveals the cheap, often-overlooked 'superfoods' that you can pick up at your local...": 20.209518098717286,
 'London stock market falls to 16-month low as trade war fears send the FTSE 100 index diving below 7,000': -65.47430005261772,
 "22 women honored for contributions; Peggy Ruhlin, Rianka Dorsainvil among InvestmentNews' Women to Watch": 1.4440905843450844,
 "'eBay fraudster stole £1,023 and my gold coins but PayPal won't refund me'": 8.8286364040557,
 'Draw up your will in a text message': 3.13293692317738,
 'Pension fund moves into riskier investments; Venture Capital': -94.35673342143933,
 'Equity release: read these top tips before you borrow against your home': 86.45233005171369,
 'Getting a loan is all about risk': 59.097157622548586,
 'Warning on rate hikes': 44.15374756064385,
 'Bank of England tightens mortgage borrowing rules amid fears of debt boom': 22.69934994317205,
 'Online firm pairs home buyers, sellers with realtors': -28.623208833907693,
 "Maternity leave - What happens if the baby's born early": 39.574153046129624,
 'Australia : New data highlights the flaws in failed VET FEE-HELP scheme': 11.105939270284729,
 'Bond fund warning as sell-off fears increase': -300.398143089597,
 'Tax Talk Today Features IRS and Tax Pros Presenting, "Ready, Set, Retire! Helping Your Aging and Elderly Clients"': 42.96985525908866,
 'MARKET MOVERS THOMAS WELLS & PAUL PARASCANDALO': -140.97564810557014,
 'Residential Customers Seeing Lower Electric Bills Thanks to NatGas, EIA Says': -75.43845306222286,
 'Help clients get the most from Medicare: Retirement Scan': 49.869653765271266,
 'Landlords will face tougher tests from mortgage lenders': 37.366972779312526,
 'Long-term care delay post-fire frustrates seniors': -5.55084279924481,
 'Keys to keeping lid on spending': 44.99192713355404,
 'How Much Retirement Income Will You Need? Maybe Less Than You Think; New research calls the venerable 80% income-replacement rule into...': 140.48600490369975,
 'Health Care on a Budget': 81.49544878584848,
 "I'm a first-time buyer confused by mortgage options": 92.69037498108223,
 'Second Cup outlines 3-year turnaround plan amid $26.2M loss': -121.80649891757463,
 'Press Release: Aetna International Wins 2014 Health Insurance Award': 7.463394229345354,
 'Will apathy risks family losing their inheritance': -28.916933391596146,
 'New report reveals older worker hotspots and the vast differences in employment prospects for over 50s around the country': 47.65138078634466,
 'Drive a hard bargain; HAVE PASSPORT WILL TRAVEL Jeremy Gates rounds up all the latest travel news': -24.398469216996215,
 'A brighter future is now within reach; Workplace pensions Advertising Feature': 5.478898665749548,
 'Charge Cards vs. Debit Cards': 36.8548484849802,
 'New house sales build': -87.43095357653445,
 "Bonds Gain As Shutdown Intensifies Debt-Ceiling Fears -- Barron's Blog": -27.26258101546639,
 "Why divorce is bad for a man's health: Separation increases the risk of early death, substance abuse, suicide and depression": 23.047106251203495,
 'FEAR FOR ELDERLY WITH MORTGAGE DEBT': 145.77994417991573,
 "Don't be afraid to ask the difficult questions that come with retirement planning": 82.11218995275091,
 'A fund of one': -94.66354544575167,
 'Compulsory pension for West workers': 36.16111468459353,
 'Three Tips For Building A Lasting Retirement': 118.07808225525335,
 'Certified COBRA Administrator COBRAGuard Inc. Awarded Contract with State of North Carolina': -28.17617684474855,
 "California's Brown signs pension bill, cites it as historic reform": 21.151575825112893,
 'Banking, Financial Services; Prudential reports higher rate taxpayers reject (GBP)438 million in tax relief': 17.847852199576348,
 'Grown-Up Spring Break Spots': -18.033204152537714,
 "Should I use lump sum to pay off mortgage or save for children's studies?": 86.61050092557156,
 'New Book by Chicago Tax and Estate Planning Attorneys\xa0Reveals Disastrous Tax Pitfalls ; Cut Your Tax in 2010, by Anthony Perrelli and Dean...': -43.09907906444488,
 'YOUR MONEY BORROWING WATCH': 31.924734113854214,
 'Cloud of debt lifted through financial coaching program': 10.921408403117589,
 'Labor helps union, nonunion jobless': 47.54341002879947,
 '8. Pay down debt': 60.72956294096482,
 'ETFs Finish Flat in Light Year-End Trading': -67.12433500066524,
 "Don't be too late": 85.8814254920394,
 'Consolidation loans - not the easy way out': 102.81048317168172,
 'Mortgage squeeze tightens after Abbey clamps down on interest-only deals': 14.692445014282814,
 'DOCTOR HAS CURE FOR TRAVEL SICKNESS ROW; ASK THE EXPERTS EDITED BY ABIGAIL MONTROSE': 13.290590873723309,
 'No margin for error...': -79.41074059977053,
 'Women still lack financial self esteem': 48.82015315723268,
 'BORROWERS TOLD TO ACT FAST OVER MORTGAGES': 8.732388599577126,
 'Dividing the spoils': -9.889999759802672,
 'SECOND-CHANCE INVESTING': -128.75746641838825,
 "COMMENT: It's tough to justify 10-year fixes": 16.105478830498186,
 'Offshore bonds better onshore counterparts bob goulding | Clerical Medical': -158.67935903427235,
 'Money Management: Keeping it in the family.': -15.292756323995416,
 'Some banks offer reward points for debit card use': -64.78918490276774,
 'Personal Business: OK, if I Just Pay the Card Minimum. . .Ouch': 58.84369482761296,
 'Wealth: What you can learn from the big-money investors': -8.61671690418941,
 "Planner: Turn portfolio to more conservative path ; Without a secure job, it's important to tone down risk": -74.53382994187703,
 "Portman: Hasn't Received Any Takeover Approaches": -100.33184887066686,
 "Harsco Had Expected To Contribute $24M To Pension In '04": -80.49473613626078,
 'Mail Money - MONEY BOX.': 86.00120984924308,
 'Street Smart: Economy Watch -- Inflation Is Worse Than You Thought --- If the CPI does not reflect the true cost of living, your retirement...': -10.52713662431697,
 'Teachers blasts Caisse loophole': -36.84694433823911,
 'SL venture capital firm creates list of top tech, biotech leaders': -32.43982391661938,
 "Hercules Sees Asbestos-Related Payments $40M-$45M In '04": -191.94297726738174,
 'Mad Cow Disease Risk Sparks Call For Wider Import Ban': -5.602917477439562,
 'The Life Mag - Money Matters - Dodging undue death duties.': -79.23421447118815,
 'Personal Finance - Drop in the ocean of with-profit policies.': -56.06695133672637,
 'Rate cut may remind some homeowners to refinance.': 11.202082813285653,
 'Jobs & Money - Women stand to get a better deal.': -1.9860392126527762,
 'Pension off AVC rules; The Last Word': -69.17750098700894,
 'Gold Stocks Favoured As Telecom, Bank Shares Fall': -153.7672806623735,
 "Wall of silence over 'flexible' Abbey fund": -56.052738984718914,
 'Million-dollar Partners': -8.378902331191416}

In [18]:
list(relevant_words['word'])

['retirement',
 'mortgage',
 'pay',
 'income',
 'interest',
 'home',
 'worker',
 'credit',
 'need',
 'cost',
 'health',
 'help',
 'many',
 'month']

In [53]:
irrelevant_df[irrelevant_df['word'] == 'bank']['weighted_score']

6    5.595466
Name: weighted_score, dtype: float64

In [44]:
word_

'management'

In [62]:
for key in all_articles_relevancy.keys():
    if all_articles_relevancy[key] < 0:
        articles_df.loc[articles_df['article_title'] == key, ['predicted']] = 0

In [70]:
pd.set_option('display.max_rows', 1000)

In [72]:
articles_df[['relevant_campbell', 'predicted']]

     relevant_campbell  predicted
0                    0        0.0
1                    0        1.0
2                    1        1.0
3                    1        0.0
4                    0        1.0
5                    0        0.0
6                    1        1.0
7                    0        0.0
8                    0        0.0
9                    0        0.0
10                   1        1.0
11                   0        0.0
12                   1        0.0
13                   0        0.0
14                   1        1.0
15                   0        0.0
16                   0        0.0
17                   0        0.0
18                   1        1.0
19                   0        0.0
20                   1        1.0
21                   1        0.0
22                   1        1.0
23                   1        1.0
24                   0        1.0
25                   1        1.0
26                   1        1.0
27                   0        0.0
28                   1        1.0
29                   1        1.0
30                   1        1.0
31                   0        0.0
32                   0        0.0
33                   0        0.0
34                   1        1.0
35                   0        0.0
36                   0        0.0
37                   1        1.0
38                   1        1.0
39                   1        1.0
40                   1        1.0
41                   1        0.0
42                   1        1.0
43                   0        0.0
44                   0        0.0
45                   1        1.0
46                   0        0.0
47                   0        1.0
48                   1        1.0
49                   0        1.0
50                   0        0.0
51                   1        1.0
52                   1        1.0
53                   1        1.0
54                   0        1.0
55                   0        0.0
56                   1        1.0
57                   1        1.0
58                   0        0.0
59                   1        1.0
60                   0        0.0
61                   1        0.0
62                   1        1.0
63                   1        1.0
64                   1        0.0
65                   1        1.0
66                   1        1.0
67                   1        1.0
68                   1        1.0
69                   0        0.0
70                   0        1.0
71                   1        0.0
72                   1        1.0
73                   0        0.0
74                   0        1.0
75                   1        1.0
76                   0        0.0
77                   0        0.0
78                   1        1.0
79                   1        1.0
80                   1        1.0
81                   0        0.0
82                   1        1.0
83                   1        1.0
84                   0        0.0
85                   1        1.0
86                   1        1.0
87                   0        0.0
88                   1        1.0
89                   0        0.0
90                   0        1.0
91                   1        1.0
92                   1        1.0
93                   1        1.0
94                   0        0.0
95                   1        1.0
96                   1        1.0
97                   0        1.0
98                   0        1.0
99                   0        0.0
100                  1        1.0
101                  1        1.0
102                  1        0.0
103                  0        0.0
104                  0        1.0
105                  0        0.0
106                  1        0.0
107                  0        0.0
108                  1        1.0
109                  1        0.0
110                  1        0.0
111                  0        0.0
112                  0        0.0
113                  1        1.0
114                  1        0.0
115                  0        0.0
116                  0        0.0
117                  0        0.0
118                  0        0.0
119                  1        0.0
120                  1        0.0
121                  1        1.0
122                  1        0.0
123                  0        0.0
124                  0        0.0
125                  0        0.0
126                  1        0.0

In [65]:
num_ers = 0
for index, row in articles_df.iterrows():
    if row['relevant_campbell'] != row['predicted']:
        num_ers += 1

In [66]:
num_ers

28

0.2204724409448819